<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="border: none;">
		<div class="container">

			<div class="navbar-header">
		      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
				<a href="/" class="navbar-brand">phruma</a>
			</div>

			<div class="collapse navbar-collapse" collapse="isCollapsed">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<div class="navbar-form small_search">
							<div class="input-group">
								<input type="text" ng-model="query" class="small_searchbar form-control" placeholder="Search" ng-keypress="pressEnter($event, query, 'search')">
								<span class="input-group-btn">
									<button class="btn btn-default small_searchbar_button" type="button" ng-click="doSearch(query)"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div>
					</li>
					<li ng-show="!getAuthen()"><a ng-click="openModal('lg','signup')">Register</a></li>
					<li ng-show="!getAuthen()"><button class="btn btn-default navbar-btn" ng-click="openModal('md','login')">Login</button></li>
					<li ng-show="getAuthen()" ng-click="goToWatchList()"s><p id="welcome_message">{{message}}</p></li>
					<li ng-show="getAuthen()"><button class="btn btn-default navbar-btn" ng-click="goToWatchList()">My Watchlist</button></li>
					<li ng-show="getAuthen()"><button class="btn btn-default navbar-btn" ng-click="openModal('md','logout')">Logout</button></li>
				</ul>
			</div>
		</div>
</nav>

<div ng-hide="errorMessage == ''" class="text-center" style="padding-top: 300px">
		<h3>{{ errorMessage }}</h3>
</div>

<div ng-init="compareInit()" id="result_container" ng-hide="movieQuery == ''">

<div clas="row" id="compare_results">

	<!-- MOVIE 1 -->
	<div class="col-md-6">
		<div class="row" id="movie_info">
			<div class="movie_info_wrapper">
				<div class="movieinfo-left col-xs-12">
					<p style="text-align: center;"><img src="http://imdb.wemakesites.net/api/1.0/img/?url={{ poster }}" style="width: 100%; max-width: 300px;" onerror="this.src = 'http://placehold.it/233x344.jpg'"></p>
					<button class="btn btn_red btn-block btn-lg" type="button" ng-click="addToWatchList()" ng-show="!checkbutton()"><span class="glyphicon glyphicon-eye-open" style="margin-right: 5px; top: 2px;"></span> Add to Watchlist</button>
					<button class="btn btn_red btn-block btn-lg" type="button" ng-click="removeFromWatchList(movieIMDBid)" ng-show="checkbutton()"><span class="glyphicon glyphicon-eye-close" style="margin-right: 5px; top: 2px;"></span> Remove from Watchlist</button>

				</div>
				<div class="movieinfo-right col-xs-12 ">
					<h2 class="highlight movie_title">{{ movieTitle }} <small>(<span ng-repeat="country in countries">{{country}}{{$last ? '' : ', '}}</span> {{ movieYear }})</small></h2>				

					<div class="links_container">
						<a ng-hide="!trailerURL" class="movie_link" href="{{ trailerURL }}" target="_blank"><span class="glyphicon glyphicon-film"></span>Trailer</a>
						<a ng-hide="!movieIMDBurl" class="movie_link" href="{{ movieIMDBurl }}" target="_blank"><span class="glyphicon glyphicon-link"></span>IMDB</a>
						<a ng-hide="!movieRTlink" class="movie_link" href="{{ movieRTlink }}" target="_blank"><span class="glyphicon glyphicon-link"></span>Rotten Tomatoes</a>
					</div>

					<p><b>Plot</b></p>

					<div id="plot_container">
						<p ng-hide="showPlot">{{ moviePlot }} <a ng-click="showFullPlot()">full plot</a></p>
						<p ng-show="showPlot">{{ moviePlotFull }} <a ng-click="showFullPlot()">short plot</a></p>
					</div>

					<hr>
					<div id="meta_container">
						<p ng-hide="!genres"><b>Genre: </b><span ng-repeat="genre in genres">{{genre}}{{$last ? '' : ', '}}</span></p>
						<p ng-hide="!movieStudio"><b>Studio: </b>{{movieStudio}}</p>
						<p ng-hide="!movieRuntime"><b>Runtime: </b>{{movieRuntime}}</p>
						<p ng-hide="!movieAgeRating"><b>Age Rating: </b>{{movieAgeRating}}</p>
						<p><b>Starring: </b><span style="cursor:pointer" popover="{{'As ' + actor.character}}" popover-trigger="mouseenter" ng-repeat="actor in movieActors|limitTo:10">{{actor.actorName}}{{$last ? '' : ', '}}</span></p>
						<p ng-hide="!hasDirectors"><b>Directed By: </b><span ng-repeat="director in movieDirectors">{{director.name}}{{$last ? '' : ', '}}</span></p>
						<p ng-hide="!hasWriters"><b>Written By: </b><span ng-repeat="writer in movieWriters">{{writer.name}}{{$last ? '' : ', '}}</span></p>
					</div>

				</div>

			</div>

		</div>
	</div>

	<!-- MOVIE 2 (COMPARISON) -->
	<div class="col-md-6">
		<div class="row" id="movie_info">
			<div class="movie_info_wrapper">
				<div class="movieinfo-left col-xs-12">
					<p style="text-align: center;"><img src="http://imdb.wemakesites.net/api/1.0/img/?url={{ poster_compare }}" style="width: 100%; max-width: 300px;" onerror="this.src = 'http://placehold.it/233x344.jpg'"></p>
					<button class="btn btn_red btn-block btn-lg" type="button" ng-click="addToWatchList()" ng-show="!checkbutton()"><span class="glyphicon glyphicon-eye-open" style="margin-right: 5px; top: 2px;"></span> Add to Watchlist</button>
					<button class="btn btn_red btn-block btn-lg" type="button" ng-click="removeFromWatchList(movieIMDBid)" ng-show="checkbutton()"><span class="glyphicon glyphicon-eye-close" style="margin-right: 5px; top: 2px;"></span> Remove from Watchlist</button>

				</div>
				<div class="movieinfo-right col-xs-12 ">
					<h2 class="highlight movie_title">{{ movieTitle_compare }} <small>(<span ng-repeat="country in countries">{{country_compare}}{{$last ? '' : ', '}}</span> {{ movieYear_compare }})</small></h2>				

					<div class="links_container">
						<a ng-hide="!trailerURL_compare" class="movie_link" href="{{ trailerURL_compare }}" target="_blank"><span class="glyphicon glyphicon-film"></span>Trailer</a>
						<a ng-hide="!movieIMDBurl_compare" class="movie_link" href="{{ movieIMDBurl_compare }}" target="_blank"><span class="glyphicon glyphicon-link"></span>IMDB</a>
						<a ng-hide="!movieRTlink_compare" class="movie_link" href="{{ movieRTlink_compare }}" target="_blank"><span class="glyphicon glyphicon-link"></span>Rotten Tomatoes</a>
					</div>

					<p><b>Plot</b></p>

					<div id="plot_container">
						<p ng-hide="showPlot">{{ moviePlot_compare }} <a ng-click="showFullPlot()">full plot</a></p>
						<p ng-show="showPlot">{{ moviePlotFull_compare }} <a ng-click="showFullPlot()">short plot</a></p>
					</div>

					<hr>
					<div id="meta_container">
						<p ng-hide="!genres_compare"><b>Genre: </b><span ng-repeat="genre in genres_compare">{{genre}}{{$last ? '' : ', '}}</span></p>
						<p ng-hide="!movieStudio"><b>Studio: </b>{{movieStudio_compare}}</p>
						<p ng-hide="!movieRuntime_compare"><b>Runtime: </b>{{movieRuntime}}</p>
						<p ng-hide="!movieAgeRating_compare"><b>Age Rating: </b>{{movieAgeRating}}</p>
						<p><b>Starring: </b><span style="cursor:pointer" popover="{{'As ' + actor.character}}" popover-trigger="mouseenter" ng-repeat="actor in movieActors_compare|limitTo:10">{{actor.actorName}}{{$last ? '' : ', '}}</span></p>
						<p ng-hide="!hasDirectors_compare"><b>Directed By: </b><span ng-repeat="director in movieDirectors_compare">{{director.name}}{{$last ? '' : ', '}}</span></p>
						<p ng-hide="!hasWriters_compare"><b>Written By: </b><span ng-repeat="writer in movieWriters_compare">{{writer.name}}{{$last ? '' : ', '}}</span></p>
					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="col-md-12">
			<h2>Business & Money</h2>
			<p class="budget_p">{{movieTitle}} had a Budget of <span class="budget">{{movieBudget}}</span></p>
			<p class="budget_p">{{movieTitle_compare}} had a Budget of <span class="budget">{{movieBudget_compare}}</span></p>

	        <highchart id="chart1" config="chartConfig" class="span10"></highchart>
	</div>
</div>






<!-- LOGIN MODAL -->
<div id="login_modal">
    <script type="text/ng-template" id="myLoginModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Sign in to your Account</h3>
        </div>
        <div class="modal-body">
        <form ng-show="!isAuthenticated" ng-submit="login(username,password)">
        	<div class="row">
        		<div class="col-md-3">Username/E-Mail:</div>
        		<div class="col-md-9"><input class="form-control" type="text" ng-model="username" placeholder="Username"></div>
        	</div>
        	<div class="row">
        		<div class="col-md-3">Password:</div>
        		<div class="col-md-9"><input class="form-control" type="password" ng-model="password" placeholder="Password"></div>
        	</div>        	
        	<div class="row">
        		<div class="col-md-12 text-center">{{message}}</div>        			
        	</div>
        <div class="modal-footer">
                <button type="submit" class="btn btn-default modal-btn-login" ng-click="doLogin()">Login</button>
                <button class="btn btn-default modal-btn-close" type ="button"ng-click="cancel()">Close</button>
            </div>
        	</form>
        </div>
    </script>
</div>

<div id="signup_modal">
    <script type="text/ng-template" id="mySignUpModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Register</h3>
        </div>
        <div class="modal-body">
        <form  ng-submit="signup(newuser)">
        	<div class="row">
        		<div class="col-md-5">Username:</div>
        		<div class="col-md-5"><input class="form-control" type="text" ng-model="newuser.username" placeholder="Username"></div>
                <div>{{message}}</div>
        	</div>
        	<div class="row">
        		<div class="col-md-5">E-Mail:</div>
        		<div class="col-md-5"><input class="form-control" type="text" ng-model="newuser.email" placeholder="email"></div>
                <div>{{messageemail}}</div>
        	</div>
        	<div class="row">
        		<div class="col-md-5">Password:</div>
        		<div class="col-md-5"><input class="form-control" type="password" ng-model="newuser.password" placeholder="Password"></div>
        	</div>
        	<div class="row">
        		<div class="col-md-5">Confirm password:</div>
        		<div class="col-md-5"><input class="form-control" type="password" ng-model="newuser.passwordconfirm" placeholder="Password"></div>
        	</div>            	
        	<div class="row">
        		<div class="col-md-10">{{message}}</div>        			
        	</div>
        <div class="modal-footer">
        	<button class="btn btn-default modal-btn-login"  type="submit" >Register</button>
        	<button class="btn btn-default modal-btn-close" type="button" ng-click="cancel()">Close</button>  
        	</form>
        </div>
    </script>
</div>

<div id="confirmLogout_modal">
    <script type="text/ng-template" id="confirmLogoutModal.html">
        <div class="modal-body" style="text-align: center">

            <h4>Are you sure you want to logout?</h4>
            <div class="row">
                <div class="col-md-12">
                <button type="submit" class="btn btn-default modal-btn-login" ng-click="logout()">Logout</button>
                <button class="btn btn-default modal-btn-close" type="button" ng-click="cancel()">Close</button>
                </div>
            </div>
        </div>
    </script>
</div>

<div id="notloggedin_modal">
    <script type="text/ng-template" id="myNotLoggedInModal.html">
        <div class="modal-body" style="text-align: center">
        	<h4>You need to register/login before you can add things to your Watchlist</h4>
        </div>
    </script>
</div>