<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="border: none;">
		<div class="container">

			<div class="navbar-header">
		      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
				<a href="/" class="navbar-brand">phruma</a>
			</div>

			<div class="collapse navbar-collapse" collapse="isCollapsed">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<div class="navbar navbar-form small_search">
							<div class="input-group">
								<input type="text" ng-model="query" class="small_searchbar form-control" placeholder="Search" ng-keypress="pressEnter($event, query)">
								<span class="input-group-btn">
									<button class="btn btn-default small_searchbar_button" type="button" ng-click="doSearch(query)"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div>
					</li>
					<li><a href="#">register</a></li>
					<li><button class="btn btn-default navbar-btn" ng-click="openModal('lg')">login</button></li>
				</ul>
			</div>

		</div>
</nav>

<div ng-hide="errorMessage == ''" class="text-center" style="padding-top: 300px">
		<h3>{{ errorMessage }}</h3>
</div>

<div ng-init="compareInit()" id="result_container" ng-hide="movieQuery == ''">

<div clas="row">

	<!-- MOVIE 1 -->
	<div class="col-md-6">
		<p><img src="http://imdb.wemakesites.net/api/1.0/img/?url={{ poster }}" onerror="this.src = 'http://placehold.it/233x344.jpg'"></p>
		<h2>{{ movieTitle }}</h2>
		<p><span style="font-size: 0.7em; font-style: italic;" ng-repeat="genre in genres">{{genre}}{{$last ? '' : ', '}}</span></p>
		<p>Plot:</p>
		<p>{{ moviePlot }}</p>
			<div class="knob_container">
				<input type="text" value="N/A" class="knob" ng-model="IMDBRating"/>
				<p>IMDB</p>
			</div>
			<div class="knob_container" ng-show="isMovie">
				<input type="text" value="N/A" class="knob" ng-model="movieCriticsRating"/>
				<p>Rotten Tomatoes</p>
			</div>
	</div>

	<!-- MOVIE 2 (COMPARISON) -->
	<div class="col-md-6">
		<p><img src="http://imdb.wemakesites.net/api/1.0/img/?url={{ poster_compare }}" onerror="this.src = 'http://placehold.it/233x344.jpg'"></p>
		<h2>{{ movieTitle_compare }}</h2>
		<p><span style="font-size: 0.7em; font-style: italic;" ng-repeat="genre in genres_compare">{{genre}}{{$last ? '' : ', '}}</span></p>
		<p>Plot:</p>
		<p>{{ moviePlot_compare }}</p>
			<div class="knob_container">
				<input type="text" value="N/A" class="knob" ng-model="IMDBRating_compare"/>
				<p>IMDB</p>
			</div>
			<div class="knob_container" ng-show="isMovie">
				<input type="text" value="N/A" class="knob" ng-model="movieCriticsRating_compare"/>
				<p>Rotten Tomatoes</p>
			</div>
	</div>
</div>






<!-- LOGIN MODAL -->
<div id="login_modal">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
        	<h2>HEHEHE</h2>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Close</button>
        </div>
    </script>
</div>