<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="border: none;">
		<div class="container">

			<div class="navbar-header">
		      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
				<a href="/" class="navbar-brand" style="color: #0096C4; font-size: 2em">phruma</a>
			</div>

			<div class="collapse navbar-collapse" collapse="isCollapsed">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="register" href="#">register</a></li>
					<li><button class="btn btn-default navbar-btn" ng-click="openModal('lg')">login</button></li>
				</ul>
			</div>

		</div>
</nav>

<div class="col-md-10 col-md-offset-1 big_search_container" >
	<div class="input-group big_search">
		<input type="text" ng-model="query" class="big_searchbar form-control" placeholder="Search for a Movie or TV Show" ng-keypress="pressEnter($event, query)"/>
		<span class="input-group-btn">
	      	<button class="btn btn-default big_searchbar_button" type="button" ng-click="doSearch(query)"><span class="glyphicon glyphicon-search"></span></button>
	    </span>
	</div>
</div>

<!-- LOGIN MODAL -->
<div id="login_modal">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Log in to User Account</h3>
        </div>
        <div class="modal-body">
        	<div class="row">
        		<div class="col-md-2">
        			username/email
        		</div>
        		<div class="col-md-4">
        			<input type="text">
        		</div>
        	</div> 
        	<div class="row" style="margin-top: 1%;">
        		<div class="col-md-2">
        			password
        		</div>
        		<div class="col-md-4">
        			<input type="password">
        		</div>
        	</div> 
        </div>
        <div class="modal-footer">
        	<button type="submit" class="btn btn-info" ng-click="doLogin()">login</button>
            <button class="btn btn-warning" ng-click="cancel()">close</button>
        </div>
    </script>
</div>



