<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="border: none;">
		<div class="container">

			<div class="navbar-header">
		      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
				<a href="/" class="navbar-brand">phruma</a>
			</div>

			<div class="collapse navbar-collapse" collapse="isCollapsed">
				<ul class="nav navbar-nav navbar-right">
					<li ng-show="!getAuthen()"><a ng-click="openModal('lg','signup')">Register</a></li>
					<li ng-show="!getAuthen()"><button class="btn btn-default navbar-btn" ng-click="openModal('lg','login')">Login</button></li>
					<li ng-show="getAuthen()" ng-click="goToWatchList()"><p id="welcome_message">{{message}}</p></li>
					<li ng-show="getAuthen()"><button class="btn btn-default navbar-btn" ng-click="logout()">Logout</button></li>
				</ul>
			</div>

		</div>
</nav>

<div class="col-md-10 col-md-offset-1 big_search_container" >
	<div class="input-group big_search">
		<input type="text" ng-model="query" class="big_searchbar form-control" placeholder="Search for a Movie or TV Show" ng-keypress="pressEnter($event, query, 'search')"/>
		<span class="input-group-btn">
	      	<button class="btn btn-default big_searchbar_button" type="button" ng-click="doSearch(query)"><span class="glyphicon glyphicon-search"></span></button>
	    </span>
	</div>
</div>

<!-- LOGIN MODAL -->
<div id="login_modal">
    <script type="text/ng-template" id="myLoginModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Log in to User Account</h3>
        </div>
        <div class="modal-body">
        <form ng-show="!isAuthenticated" ng-submit="login(username,password)">
        	<div class="row">
        		<div class="col-md-2">Username/email :</div>
        		<div class="col-md-4"><input class="form-control" type="text" ng-model="username" placeholder="Username"></div>
        	</div>
        	<div class="row">
        		<div class="col-md-2">Password : </div>
        		<div class="col-md-4"><input class="form-control" type="password" ng-model="password" placeholder="Password"></div>
        	</div>        	
        	<div class="row">
        		<div class="col-md-10">{{message}}</div>        			
        	</div>
        <div class="modal-footer">
                <button type="submit" class="btn btn-default modal-btn-login" ng-click="doLogin()">Login</button>
                <button class="btn btn-default modal-btn-close" type ="button"ng-click="cancel()">Close</button>
            </div>
        	</form>
        </div>
    </script>
</div>

<div id="signup_modal">
    <script type="text/ng-template" id="mySignUpModal.html">
        <div class="modal-header">
            <h3 class="modal-title">SignUp</h3>
        </div>
        <div class="modal-body">
        <form  ng-submit="signup(newuser)">
        	<div class="row">
        		<div class="col-md-5">Username :</div>
        		<div class="col-md-5"><input class="form-control" type="text" ng-model="newuser.username" placeholder="Username"></div>
                <div>{{message}}</div>
        	</div>
        	<div class="row">
        		<div class="col-md-5">e-mail :</div>
        		<div class="col-md-5"><input class="form-control" type="text" ng-model="newuser.email" placeholder="email"></div>
                <div>{{messageemail}}</div>
        	</div>
        	<div class="row">
        		<div class="col-md-5">password : </div>
        		<div class="col-md-5"><input class="form-control" type="password" ng-model="newuser.password" placeholder="Password"></div>
        	</div>
        	<div class="row">
        		<div class="col-md-5">Confirm password: </div>
        		<div class="col-md-5"><input class="form-control" type="password" ng-model="newuser.passwordconfirm" placeholder="Password"></div>
        	</div>            	
        	<div class="row">
        		<div class="col-md-10">{{message}}</div>        			
        	</div>
        <div class="modal-footer">
        	<button class="btn btn-default modal-btn-login"  type="submit" >Register</button>
        	<button class="btn btn-default modal-btn-close" type="button" ng-click="cancel()">Close</button>  
        	</form>
        </div>
    </script>
</div>



