<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="border: none;">
		<div class="container">

			<div class="navbar-header">
		      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
				<a href="/" class="navbar-brand">phruma</a>
			</div>

			<div class="collapse navbar-collapse" collapse="isCollapsed">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<div class="navbar-form small_search">
							<div class="input-group">
								<input type="text" ng-model="query" class="small_searchbar form-control" placeholder="Search" ng-keypress="pressEnter($event, query)">
								<span class="input-group-btn">
									<button class="btn btn-default small_searchbar_button" type="button" ng-click="doSearch(query)"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div>
					</li>
					<li ng-show="!getAuthen()"><a ng-click="openModal('lg','signup')">register</a></li>
					<li ng-show="!getAuthen()"><button class="btn btn-default navbar-btn" ng-click="openModal('lg','login')">login</button></li>
					<li ng-show="getAuthen()"><p id="welcome_message">{{message}}</p></li>
					<li ng-show="getAuthen()"><button class="btn btn-default navbar-btn" ng-click="logout()">logout</button></li>
				</ul>
			</div>
		</div>
</nav>

<div class="col-md-10 col-md-offset-1 search_container" ng-init="searchInit()">
	<div ng-hide="errorMessage == ''" class="text-center error_message">
		<h3>{{ errorMessage }}</h3>
	</div>
	<div class="row movie_search_result" ng-repeat="movie in movies" >

		<div class="movieinfo-left col-md-2 col-sm-2 col-xs-3">
			<img class="movieposter" src="http://imdb.wemakesites.net/api/1.0/img/?url={{movie.Poster}}" ng-click="singleMovieSearch(movie.imdbID, movie.Type)" onerror="this.src = 'http://placehold.it/65x97.jpg'">
		</div>
		<div class="movieinfo-right col-md-10 col-sm-10 col-xs-9">

			<h2 class="movie_title highlight" ng-click="singleMovieSearch(movie.imdbID, movie.Type)">{{movie.Title}} </h2>

			<span class="movie_year"> ({{movie.Year}})</span>
			<p class="search_plot" ng-show="check(movie.Plot)">{{movie.Plot}}</p>
			<p class="movie_actors" ng-show="check(movie.Actors)"><strong>Starring: </strong>{{movie.Actors}}</p>
		</div>
	</div>
</div>

<!-- LOGIN MODAL -->
<div id="login_modal">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Log in to User Account</h3>
        </div>
        <div class="modal-body">
        	<div class="row">
        		<div class="col-md-2">
        			username/email
        		</div>
        		<div class="col-md-4">
        			<input type="text">
        		</div>
        	</div> 
        	<div class="row" style="margin-top: 1%;">
        		<div class="col-md-2">
        			password
        		</div>
        		<div class="col-md-4">
        			<input type="password">
        		</div>
        	</div> 
        </div>
        <div class="modal-footer">
	        <div class="modal-buttons">
	        	<button type="submit" class="btn btn-default modal-btn-login" ng-click="doLogin()">login</button>
            	<button class="btn btn-default modal-btn-close" ng-click="cancel()">close</button>
	        </div>
        </div>
    </script>
</div>