<div class="input-group small_search">
	<input type="text" ng-model="query" class="small_searchbar form-control" placeholder="Search for a Movie or TV Show">
	<span class="input-group-btn">
		<button class="btn btn-default small_searchbar_button" type="button" ng-click="doSearch(query)">Go!</button>
	</span>
</div>


<div class="col-md-12" ng-init="searchInit()">
	<div class="text-center" style="padding-bottom: 20px">
		<h1>Search Results</h1>
	</div>
	<div class="row" ng-repeat="movie in movies" >
		<div class="movieinfo-left col-md-1">
			<p><img src="http://imdb.wemakesites.net/api/1.0/img/?url={{movie.Poster}}" style="width: 100%;"></p>
		</div>
		<div class="movieinfo-right col-md-11">

			<h2 class="movie_title" ng-click="singleMovieSearch(movie.imdbID, movie.Type)">{{movie.Title}} <span style="font-size: 0.7em"> ({{movie.Year}})</span></h2>
			<p style="font-size: 0.9em"></p>
			<!-- <p style="text-transform: capitalize; font-size: 0.9em">{{movie.Type}}</p> -->
			<p>{{movie.Rated}}</p>
			<p><span style="font-size: 0.em">{{movie.Actors}}</span></p>
		</div>


	</div>

</div>

