<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="border: none;">
		<div class="container">

			<div class="navbar-header">
		      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
				<a href="/" class="navbar-brand">phruma</a>
			</div>

			<div class="collapse navbar-collapse" collapse="isCollapsed">
				<ul class="nav navbar-nav navbar-right">					
					<li>
						<div class="navbar-form small_search">
							<div class="input-group">
								<input type="text" ng-model="query" class="small_searchbar form-control" placeholder="Search" ng-keypress="pressEnter($event, query, 'search')">
								<span class="input-group-btn">
									<button class="btn btn-default small_searchbar_button" type="button" ng-click="doSearch(query)"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div>
					</li>
					<li ng-show="getAuthen()"><p id="welcome_message">{{message}}</p></li>
                    <li ng-show="getAuthen()"><button class="btn btn-default navbar-btn" ng-click="goToWatchList()" style="margin-right: 15px">My Watchlist</button></li>
					<li ng-show="getAuthen()"><button class="btn btn-default navbar-btn" ng-click="logout()">Logout</button></li>
				</ul>
			</div>

		</div>
</nav>

<div class="watchlist_container" ng-init="watchlistInit()">
    <div ng-repeat="movie in watchlist" class="row watchlist_search_result">
        <div class="col-sm-2 col-xs-3">
            <img class="movieposter" src="http://imdb.wemakesites.net/api/1.0/img/?url={{movie.Poster}}" ng-click="singleMovieSearchWatchlist(movie.imdbID, movie.Type,movie.Title)" onerror="this.src = 'http://placehold.it/65x97.jpg'">
        </div>
        <div class="movieinfo-right col-sm-10 col-xs-9">
            <h2 class="watchlist_movie_title highlight" ng-click="singleMovieSearchWatchlist(movie.imdbID, movie.Type,movie.Title)">{{movie.Title}}</h2>
            <span class="watchlist_movie_year">({{movie.Year}})</span>
            <p class="watchlist_plot" ng-show="check(movie.Plot)">{{movie.Plot}}</p>
            <p class="watchlist_movie_actors" ng-show="check(movie.Actors)"><strong>Starring: </strong>{{movie.Actors}}</p>
            <button class="btn btn_red btn_remove glyphicon glyphicon-remove" ng-click="removeFromWatchList(movie.imdbID)"></button>
        </div>

        

    </div>
</div>
