<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="border: none;">
		<div class="container">

			<div class="navbar-header">
		      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
				<a href="/" class="navbar-brand">phruma</a>
			</div>

			<div class="collapse navbar-collapse" collapse="isCollapsed">
				<ul class="nav navbar-nav navbar-right">					
					<li>
						<div class="navbar-form small_search">
							<div class="input-group">
								<input type="text" ng-model="query" class="small_searchbar form-control" placeholder="Search" ng-keypress="pressEnter($event, query, 'search')">
								<span class="input-group-btn">
									<button class="btn btn-default small_searchbar_button" type="button" ng-click="doSearch(query)"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div>
					</li>
					<li ng-show="!getAuthen()"><a ng-click="openModal('lg','signup')">Register</a></li>
					<li ng-show="!getAuthen()"><button class="btn btn-default navbar-btn" ng-click="openModal('md','login')">Login</button></li>
					<li ng-show="getAuthen()"><p id="welcome_message">{{message}}</p></li>
                    <li ng-show="getAuthen()"><button class="btn btn-default navbar-btn" ng-click="goToWatchList()" style="margin-right: 15px">My Watchlist</button></li>
					<li ng-show="getAuthen()"><button class="btn btn-default navbar-btn" ng-click="openModal('md','logout')">Logout</button></li>
				</ul>
			</div>

		</div>
</nav>

<div class="watchlist_container container" ng-init="watchlistInit()">
	<h2 class="area_title">My Watchlist</h2>
    <div ng-repeat="movie in watchlist" class="row watchlist_search_result">
        <div class="col-sm-2 col-xs-3">
            <img class="movieposter" src="http://imdb.wemakesites.net/api/1.0/img/?url={{movie.Poster}}" ng-click="singleMovieSearchWatchlist(movie.imdbID, movie.Type,movie.Title)" onerror="this.src = '/css/movie-placeholder.jpg'">
        </div>
        <div class="movieinfo-right col-sm-10 col-xs-9">
            <h2 class="watchlist_movie_title highlight" ng-click="singleMovieSearchWatchlist(movie.imdbID, movie.Type,movie.Title)">{{movie.Title}}</h2>
            <span class="watchlist_movie_year">({{movie.Year}})</span>
            <p class="watchlist_plot" ng-show="check(movie.Plot)">{{movie.Plot}}</p>
            <p class="watchlist_movie_actors" ng-show="check(movie.Actors)"><strong>Starring: </strong>{{movie.Actors}}</p>
            <button class="btn btn_red btn_remove glyphicon glyphicon-remove" ng-click="removeFromWatchList(movie.imdbID)"></button>
        </div>

        

    </div>
</div>

<!-- LOGIN MODAL -->
<div id="login_modal">
    <script type="text/ng-template" id="myLoginModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Sign in to your Account</h3>
        </div>
        <div class="modal-body">
        <form ng-show="!isAuthenticated" ng-submit="login(username,password)">
        	<div class="row">
        		<div class="col-md-3">Username/E-Mail:</div>
        		<div class="col-md-9"><input class="form-control" type="text" ng-model="username" placeholder="Username"></div>
        	</div>
        	<div class="row">
        		<div class="col-md-3">Password:</div>
        		<div class="col-md-9"><input class="form-control" type="password" ng-model="password" placeholder="Password"></div>
        	</div>        	
        <div class="modal-footer">
                <div class="pull-left errorMessage">{{message}}</div>                   
                <button type="submit" class="btn btn-default modal-btn-login" ng-click="doLogin()">Login</button>
                <button class="btn btn-default modal-btn-close" type ="button"ng-click="cancel()">Close</button>
            </div>
        	</form>
        </div>
    </script>
</div>


<div id="signup_modal">
    <script type="text/ng-template" id="mySignUpModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Register</h3>
        </div>
        <div class="modal-body">
        <form  ng-submit="signup(newuser)">
            <div class="row">
                <div class="col-md-5">Username:</div>
                <div class="col-md-5"><input class="form-control" type="text" ng-model="newuser.username" placeholder="Username"></div>
            </div>
            <div class="row">
                <div class="col-md-5">E-Mail:</div>
                <div class="col-md-5"><input class="form-control" type="text" ng-model="newuser.email" placeholder="E-Mail"></div>
            </div>
            <div class="row">
                <div class="col-md-5">Password:</div>
                <div class="col-md-5"><input class="form-control" type="password" ng-model="newuser.password" placeholder="Password"></div>
            </div>
            <div class="row">
                <div class="col-md-5">Confirm password:</div>
                <div class="col-md-5"><input class="form-control" type="password" ng-model="newuser.passwordconfirm" placeholder="Confirm Password"></div>
            </div> 
        <div class="modal-footer">
            <div class="pull-left errorMessage">{{message}}</div>  
            <button class="btn btn-default modal-btn-login"  type="submit" >Register</button>
            <button class="btn btn-default modal-btn-close" type="button" ng-click="cancel()">Close</button>  
            </form>
        </div>
    </script>
</div>

<div id="confirmLogout_modal">
    <script type="text/ng-template" id="confirmLogoutModal.html">
        <div class="modal-body" style="text-align: center">

            <h4>Are you sure you want to logout?</h4>
            <div class="row">
                <div class="col-md-12">
                <button type="submit" class="btn btn-default modal-btn-login" ng-click="logout()">Logout</button>
                <button class="btn btn-default modal-btn-close" type="button" ng-click="cancel()">Close</button>
                </div>
            </div>
        </div>
    </script>
</div>