/*FONT IMPORTS*/
@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700&subset=latin,latin-ext);

body, html {
	height: 100%;
	width: 100%;
	background: #f9f9f9;
	font-family: 'Istok Web', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	color: #8A8984;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
}

a {
	color: #FF2F2F;

}

	a:hover {
		color: #FF2F2F;
		text-decoration: none;
		cursor: pointer;
	}

/*Buttons*/
.btn {
	border: 1px solid #0096C4;
	color: #0096C4;
}

	.btn:hover {
		color: #fff;
		background-color: #0096C4;
		border: 1px solid #0096C4;
	}

.modal-buttons {
	height: 40px;
}

.modal-btn-login {
	color: #0096C4;
	border: 1px solid #0096C4;
}

.modal-btn-close {
	color: #FF2F2F;
	border: 1px solid #FF2F2F;
}
	.modal-btn-close:hover {
		color: #FFF;
		background: #FF2F2F;
		border: 1px solid #FF2F2F;
	}

.compare {
	height: 50px;
}

.highlight {
	color: #0096C4;
}

.navbar-inverse .navbar-brand {
	font-size: 2em;
    color: #FF2F2F;
}
/* IMPORTANT FOR ANGULAR BOOTSTRAP UI */
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
	margin: 0;
}

.navbar-fixed-top {
	height: 50px;
}

.navbar {
	min-height: 0px;
	background: rgba(0,0,0,0.75);
}

.main_logo {
	position: absolute;
	left: 30px;
	top: 25px;
}

.big_search_container {
	height: 100vh;
}

.big_search {
	position: absolute;
	top: 50%;
	margin-top: -120px;
}

.big_searchbar {
	height: 60px;
	width: 100%;
	font-size: 22px;
	border: 1px solid #0096C4;
}

	.big_searchbar_button {
		width: 75px;
		height: 60px;
	}

.small_search {
	width: 300px;
}

	.small_search input {
		border: 1px solid #0096C4;
	}

/* SEARCH RESULTS */

.search_container {
	margin-top: 75px;
}

.movie_search_result {
	border-bottom: 1px solid #ddd;
	padding: 15px 0;

}

/*	.movie_search_result h2 {
		margin-top: 0;
	}*/

.movie_title {
	font-size: 24px;
	width: 100%;
	text-overflow: ellipsis;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
}

	.movie_title:hover {
		cursor: pointer;
		color: #FF2F2F;
	}

.movie_year {
	float: left;
	clear: both;
}

.movie_actors {
	float: left;
	width: 100%;
	font-size: 0.9em;
}

/* MOVIE RESULT PAGE */

#result_container {
	display: none;
	margin-top: 75px;

	-webkit-transition: opacity 1s ease-in;
	-moz-transition: opacity 1s ease-in;
	-o-transition: opacity 1s ease-in;
	-ms-transition: opacity 1s ease-in;
	transition: opacity 1s ease-in;
}

.knob_container {
}

	.knob_container > p {
		width: 200px; 
		text-align: center;
		font-weight: bold;
	}

/* SIMILAR MOVIE STUFF */

.similar_movie {
	text-align: left;
	height: 300px;
}

	.similar_movie h3 {
		margin-top: 0;
	}

.carousel-control.right, .carousel-control.left {
	color: #000;
	background: none;

	display: none;
}

.carousel-indicators {
	margin-bottom: 0;
	bottom: 0;
}

.carousel-indicators .active {
	background: #000;
	border: 1px solid rgba(0,0,0,1);
	width: 17px;
	height: 17px;
	margin: 2px;
}

	.carousel-indicators li {
		border: 1px solid rgba(0,0,0,0.8);
		width: 15px;
		height: 15px;
		margin: 3px;
	}

.movieposter {
	width: 100%;
}
	.movieposter:hover {
		-moz-box-shadow: 2px 2px 1px #888;
		-webkit-box-shadow: 2px 2px 1px #888;
		box-shadow: 2px 2px 1px #888;
	}

.ratings-container {
}

.moviedata {
	width: 100%;
	height: 200px;
	background: #ddd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#moviedata-container {
	margin-bottom: 2%;
}

.similar_movie img:hover, span:hover {
	cursor: pointer;
}


#compare_search_overlay {
	display: none;
	background: rgba(255,255,255,0.95);
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9000;
	overflow-x: hidden;
}

.close_overlay {
	position: absolute;
	right: 25px;
	top: 25px;
	font-size: 50px;
	opacity: 0.75;
}

	.close_overlay:hover {
		cursor: pointer;
		opacity: 1;
	}

.compare_search_input {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.compare_searchbar {
	height: 50px;
	font-size: 20px;
}

.compare_searchbar_button {
	height: 50px;
}

/* PROGRESS BAR */

#ngProgress-container {
	top: 50px !important;
}


#ngProgress {
	box-shadow: none !important;
}