body, html {
	height: 100%;
	width: 100%;
	background: #f9f9f9;
}

/* IMPORTANT FOR ANGULAR BOOTSTRAP UI */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.navbar {
	background: #f9f9f9;
	opacity: 0.9;
}

.main_logo {
	position: absolute;
	left: 30px;
	top: 25px;
}

.big_search_container {
	height: 100vh;
}

.big_search {
	position: absolute;
	top: 50%;
	margin-top: -120px;
}

.big_searchbar {
	height: 60px;
	width: 100%;
	font-size: 22px;
}

	.big_searchbar_button {
		width: 75px;
		height: 60px;
	}

.small_search {
	width: 300px;
}

/* SEARCH RESULTS */

.search_container {
	margin-top: 75px;
}

.movie_search_result {
	border-bottom: 1px solid #ddd;
	padding: 15px 0;

}

/*	.movie_search_result h2 {
		margin-top: 0;
	}*/

.movie_title {
	font-size: 24px;
	width: 100%;
	text-overflow: ellipsis;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
}

	.movie_title:hover {
		cursor: pointer;
		color: #999;
	}

.movie_year {
	float: left;
	clear: both;
}

.movie_actors {
	float: left;
	width: 100%;
	font-size: 0.9em;
}

/* MOVIE RESULT PAGE */

#result_container {
	display: none;
	margin-top: 75px;
}

.knob_container {
	float: left; 
	width: 50%;
}

	.knob_container > p {
		width: 200px; 
		text-align: center;
		font-weight: bold;
	}

#similar_container {
	background: #ddd;
	padding-top: 25px;
	margin-bottom: 2%;
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.movieposter {
	width: 100%;
}
	.movieposter:hover {
		-moz-box-shadow: 2px 2px 1px #888;
		-webkit-box-shadow: 2px 2px 1px #888;
		box-shadow: 2px 2px 1px #888;
	}

.ratings-container {
}

.moviedata {
	width: 100%;
	height: 200px;
	background: #ddd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#moviedata-container {
	margin-bottom: 2%;
}

.similar_movie img:hover, span:hover {
	cursor: pointer;
}


